.bg-blue {
    background-color: blue;
}
.w-100 {
    width: 100%;
}
.h-500 {
    height: 600px;
}
.box {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 10px;
}

#container {
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}